<!DOCTYPE html>
<html>
	<head>
		<style>
			table {
				border-collapse: collapse;
			}
			th, td {
				text-align: center;
				border: 1px solid black;
			}
		</style>

		<title>
			Sensor charts
		</title>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script type="text/javascript">
			google.charts.load('current', {'packages':['line']});
			google.charts.setOnLoadCallback(drawChart);

			function drawChart()
			{
				var dataArray = [["Time", "Humidity", "Temperature"]];


				{% for log in logs_graph %}
					var data = [];
					var time = charToDate(({{ log.time }}).toString());

					data[0] = time.getHours() + ":" +time.getMinutes();
					data[1] = {{ log.humi }};
					data[2] = {{ log.temp }};
					dataArray.push(data);

				{% endfor %}

				var dataTable = google.visualization.arrayToDataTable(dataArray);

				var options = {
					title: "Temperature & Humidity",
					legend: { position: "bottom" },
				};

				var chart = new google.charts.Line(document.getElementById("chart"));

				chart.draw(dataTable, options);
			}


			function charToDate(str)
			{	
				var year = str.slice(0, 4);
				var month = str.slice(4, 6);
				var date = str.slice(6, 8);
				var hour = str.slice(8, 10);
				var min = str.slice(10, 12);
				var sec = str.slice(12, 14);

				var d = new Date(year, month, date, hour, min, sec);
				return d;
				
			}
			
			function reload() 
			{
				window.location.reload(true);
			}

			setInterval(reload, 5000);

		</script>
	</head>

	<body>

		<div id="chart" style="width: 600px; height: 300px"></div>
		<div>
			<table>
				<tr>
					<th>Timestamp</th>
					<th>Temperature</th>
					<th>Humidity</th>
				</tr>
			{% for log in logs %}
				<tr>
					<td>{{ log.time }}</td>
					<td>{{ log.temp }}</td>
					<td>{{ log.humi }}</td>
				</tr>
			{% endfor %}
			</table>
		</div>
	</body>
</html>
